/* styles.css */

body {
    font-family: Arial, sans-serif;
}

th:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

tr {
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
